.header {
    background-color: var(--white);
    padding: var(--medium1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
}

.leftSide .userInfo {
    display: none;
    font-size: var(--medium1);
    font-weight: 600;
}

.leftSide .menuIcon {
    color: var(--colorEmphasis);
}

.leftSide .menuIcon svg {
    font-size: var(--larger3);
}

.rightSide {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.rightSide .notification {
    position: relative;
}

.rightSide .notification.active::before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    top: 12px;
    right: 12px;
}

.rightSide .searchArea {
    width: 44px;
    height: 38px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    overflow: hidden;
    transition: all .3s ease;
    margin-left: var(--small3);
}

.rightSide .searchArea input {
    width: 0;
    border: none;
    padding: var(--small1);
    outline: 0;
    font-size: var(--medium1);
    height: 100%;
    transition: all 1s ease-in-out;
}

.rightSide .searchArea.active {
    max-width: 300px;
    flex: 1;
    border: 1px solid var(--borderColor);
    border-radius: var(--small2);
}

.rightSide .searchArea.active input {
    width: 100%;
}

.containerNotification {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentNotification {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--medium1);
    border: 1px solid var(--borderColor);
    background: var(--bgPrimary);
}

.titleNotification {
    text-align: center;
    margin-bottom: 1rem;
}

.listNotification {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media (min-width: 500px) {
    .contentNotification {
        border-radius: 0 0 var(--small2) var(--small2);
    }

    .containerNotification {
        left: calc(50% - 250px);
    }
}

@media (min-width: 768px) {
    .leftSide .menuIcon {
        display: none;
    }

    .leftSide .userInfo {
        display: block;
    }

    .rightSide .searchArea {
        display: flex;
    }

    .rightSide .notification.active::before {
        content: "";
        border-radius: 50%;
        width: 7px;
        height: 7px;
        background-color: red;
        position: absolute;
        top: 11px;
        right: 11px;
    }

    .containerNotification {
        top: 50px;
    }

    .contentNotification {
        border-radius: var(--small2);
    }
}