.containerDashboard {
    display: grid;
    gap: var(--medium2) var(--larger1);
    grid-template-columns: repeat(2, 1fr);
}

.card {
    background-color: var(--white);
    padding: var(--medium2) var(--medium1);
    border: 1px solid var(--borderColor);
    border-radius: var(--small2);
}

.cardChart {
    grid-column: 1 / span 2;
}

.titleCard {
    font-size: var(--medium2);
    color: var(--colorPrimary);
    font-weight: 600;
    margin-bottom: var(--medium1);
}

.contentCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--medium1);
}

.cardValue {
    font-size: var(--medium3);
    font-weight: 500;
    margin-bottom: var(--small1);
    white-space: nowrap;
    text-align: center;
}

.cardPercentage {
    width: 70px;
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    border-radius: 0.325rem;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 0.5rem;
}

.cardPercentage.success {
    background-color: rgba(41, 204, 151, 0.5);
    color: var(--jungleGreen);
}

.cardPercentage.danger {
    background-color: rgba(241, 43, 44, 0.5);
    color: var(--darkCrimson);
}

.cardPercentage.danger .cardIcon {
    transform: rotateX(180deg);
}

.cardPercentage .cardIcon {
    display: grid;
    place-items: center;
    border-radius: 5px;
    padding: 1px;
}

.cardPercentage .cardIcon.danger {
    border: 1px solid var(--darkCrimson);
}

.cardPercentage .cardIcon.success {
    border: 1px solid var(--jungleGreen);
}

.cardPercentage .cardIcon svg {
    font-size: 16px;
}

.cardChartArea {
    flex: 1;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
}

.cardLarger {
    grid-column: 1 / span 2;
    background-color: var(--white);
}

@media (min-width: 1024px) {
    .cardChart:nth-child(1) {
        grid-column: 1 / span 1;
    }

    .cardChart:nth-child(2) {
        grid-column: 2 / span 1;
    }
}