:root {
  --bgPrimary: #F7F8FC;
  --bgSecondary: #363740;
  --colorPrimary: #252733;
  --colorGradientEmphasis: linear-gradient(90deg, var(--colorEmphasisSecondary) 0%, var(--colorEmphasis) 100%);
  --ashenGray: #A4A6B3;
  --gray: #7c7c7c;
  --borderColor: #D1D1D1;
  --colorEmphasis: #08AEEA;
  --colorEmphasisSecondary: #2AF598;
  --crimson: #f12b2c;
  --darkCrimson: #CC1C1D;
  --softTransparentCrimson: rgba(241, 43, 44, 0.10);
  --goldenYellow: #ffd700;
  --verdantGreen: #29cc97;
  --jungleGreen: #1AAE7E;
  --royalBlue: #3751ff;
  --softTransparentBlue: rgba(55, 81, 255, 0.04);
  --white: #FFFFFF;
  --small1: 0.375rem;
  --small2: 0.625rem;
  --small3: 0.875rem;
  --medium1: 1rem;
  --medium2: 1.25rem;
  --medium3: 1.5rem;
  --larger1: 2rem;
  --larger2: 2.25rem;
  --larger3: 2.5rem;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bgPrimary);
  color: var(--colorPrimary);
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.icon {
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: var(--small1);
}

.icon:hover {
  background-color: var(--borderColor);
}

.icon svg {
  font-size: var(--larger1);
}

.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  opacity: 0;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 0;
}

.scroll:hover::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 5px;
  padding: 0;
}

.alertError {
  display: flex;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 32px;
  right: 0px;
  z-index: 1000;
  background-color: transparent;
  padding: 20px;
  transition: all .5s ease;
}

.listError {
  width: 100%;
  list-style: none;
  transition: all .5s ease;
}

@media (min-width: 760px) {
  .icon svg {
    font-size: var(--medium3);
  }
}