.container {
    width: 100%;
    position: relative;
}

.container .layoutMain {
    overflow-y: auto;
    height: 100vh;
}

.container main {
    flex: 1;
    padding: var(--medium1) var(--medium1) var(--larger3) var(--medium1);
}

@media (min-width: 768px) {
    .container {
        display: flex;
    }

    .container .layoutMain {
        flex: 1;
    }
}

@media (min-width: 1024px) {
    .container main {
        padding: var(--larger1);
    }
}