.container {
    width: 100%;
    background-color: #F4F6FF;
    transition: all 0.2s ease;
    padding: 0 var(--medium2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.btnSubmit {
    width: 100%;
    padding: var(--small2) var(--medium2);
    font-size: var(--small3);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background: var(--colorGradientEmphasis);
    border: none;
    border-radius: var(--small1);
    box-shadow: 0 0.5em 1.5em -0.5em var(--colorEmphasisSecondary);
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    margin: 20px 0 10px 0;
}

.btnSubmit:hover,
.btnSubmit:focus {
    box-shadow: 0 0.5em 1.5em -0.5em var(--colorEmphasis);
    transform: translateY(-7px);
}

.btnSubmit:active {
    box-shadow: 0 0.3em 1em -0.5em var(--colorEmphasis);
    transform: translateY(-1px);
}

.main {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-size: var(--medium3);
    max-width: 500px;
    text-align: center;
    font-weight: 600;
    color: var(--colorPrimary);
    margin: 0 0 50px 0;
}

.contentLogin {
    width: 100%;
    max-width: 470px;
    background-color: var(--white);
    padding: var(--medium1) 0;
    border-radius: var(--medium2);
    box-shadow: 8px 13px 44px -6px rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    position: relative;
}

.headerLogin {
    padding: 0 var(--medium3);
    margin-bottom: var(--medium2);
}

.contentAreaLogin {
    width: 100%;
}

.bodyLogin {
    padding: 0 var(--medium3);
}

.inputGroup {
    position: relative;
}

.inputGroup input {
    width: 100%;
    padding: var(--small2) 0;
    font-size: var(--medium1);
    color: var(--colorPrimary);
    margin-bottom: var(--larger1);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    outline: none;
    background: transparent;
}

.inputGroup input::placeholder {
    color: var(--colorPrimary);
    font-weight: 500;
}

.visibility {
    display: grid;
    place-items: center;
    color: var(--colorPrimary);
    font-size: var(--small1);
    position: absolute;
    top: 6px;
    right: 0;
    cursor: pointer;
}

.visibility svg {
    font-size: var(--medium2);
}

.inputGroup label {
    position: absolute;
    top: -20px;
    left: 0;
    padding: var(--small2) 0;
    color: var(--colorPrimary);
    pointer-events: none;
    transition: .3s;
    color: var(--colorEmphasis);
    font-size: 12px;
}

.inputGroup .label {
    top: 0;
    font-size: var(--medium1);
    color: var(--colorPrimary);
}

.inputGroup input:focus {
    border-color: var(--colorEmphasis);
}

.inputGroup input:focus~.label,
.inputGroup label:valid~.label {
    top: -20px;
    color: var(--colorEmphasis);
    font-size: 12px;
}