.header h1 {
    font-size: var(--medium3);
    font-weight: 600;
    color: var(--colorPrimary);
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--medium1);
}

.accordion {
    margin-top: var(--larger1);
}

/* Client Section */
.client .gridItem:nth-child(1) {
    grid-column: span 4;
}

.client .gridItem:nth-child(2) {
    grid-column: span 8;
}

.client .gridItem:nth-child(3) {
    grid-column: span 12;
}

/* Product Description Section*/
.productDescription .gridItem {
    grid-column: span 6;
}

.productDescription .gridItem:nth-child(5) {
    grid-column: span 12;
}

.productDescription .gridItem:nth-child(6) {
    grid-column: span 12;
}

.productDescription .gridItem:nth-child(7) {
    grid-column: span 12;
}

.productDescription .gridItem:nth-child(8) {
    grid-column: span 12;
}

.subTitleSection {
    font-size: var(--medium1);
    font-weight: 500;
    color: var(--colorPrimary);
    margin: 0 0 var(--small3) 0;
}

.checkboxArea {
    display: flex;
    flex-direction: column;
    gap: var(--small3);
    margin-bottom: var(--small2);
}

.label {
    display: block;
    font-weight: 500;
    font-size: var(--medium1);
    color: var(--gray);
    margin-bottom: var(--small1);
}

.flexItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    color: var(--gray);
}