.inputGroup {
    position: relative;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: var(--small2) var(--small3);
    font-size: var(--medium1);
    color: var(--colorPrimary);
    outline: none;
    background-color: var(--white);
    border-radius: var(--small1);
    border: 1px solid var(--borderColor);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    max-height: 40px;
}

.inputGroup input:focus,
.inputGroup select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.inputGroup input:disabled,
.inputGroup select:disabled {
    background-color: var(--bgPrimary);
}

.inputGroup label {
    display: block;
    font-size: 16px;
    color: var(--colorPrimary);
    margin: 0 0 0.5rem 0.225rem;
}

/* Checkbox */

.labelCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.inputGroup .labelCheckbox {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    font-size: var(--medium1);
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: var(--white);
    transition: all 0.3s;
    border-radius: 5px;
    font-size: var(--medium2);
}

/* When the checkbox is checked, add a blue background */
.labelCheckbox input:disabled~.checkmark {
    cursor: default;
    background-color: var(--bgPrimary);
}

.labelCheckbox input:checked~.checkmark {
    background-color: var(--verdantGreen);
    animation: pop 0.5s;
    animation-direction: alternate;
}

.labelCheckbox input:focus~.checkmark {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.labelCheckbox input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.labelCheckbox .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}