.container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 100;
    opacity: 0;
    transition: opacity .3s ease;
}

.container.opacity {
    opacity: 1;
}